:root {
  --padding: 5px;

  --color-white: white;

  --color-red-500: red;

  --color-green-500: green;

  --primary-color-text: var(--color-white);
}

* {
  padding: 0px;
  margin: 0px;
  /* Estilizando a borda do input*/
  border: none;

  text-decoration: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;

  color: var(--primary-color-text);

  /* Retirando as bordas do input quando clicado */
  box-shadow: 0 0 0 0;
  outline: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(5, 10, 33, 1) 0%,
    rgba(10, 34, 72) 100%
  );
}

a {
  font-style: italic;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;

  width: 100%;

  background: rgba(0, 0, 0, 0.7);
}
header > div {
  display: flex;
  justify-content: space-between;

  padding: 0px 10%;
  width: 100%;
}
header .logo {
  display: flex;
  align-items: center;

  height: 110px;
}
header .logo img {
  height: 100%;
}
header .logo h1 {
  font-style: italic;
  font-size: 50px;
  color: #0598d74d;
  font-weight: bolder;
}
header .menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .menu a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
