h2 {
  color: #0597d7;
  font-size: 18px;
}

.container {
    background-color: rgba(0,0,0,0.7);
    min-height: 15vh;
    width: auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
  }
.logo {
    grid-row: 1;
    width: 150px;
    border-radius: 300px;
    display: flex;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .nome-empresa {
    font-style: italic;
    font-size: 23px;
    color: #0598d74d;
    font-weight: bolder;
    margin-left: -4%;
    grid-column: 2;
    grid-row: 1;
  }

  .header {
    margin-top: -1%;
    grid-column: 1 / -1;
    grid-row: 2;
    border-top: solid #0597d7 1px;
    padding-top: 8px;
  }
    .menu {
      display: grid;
      grid-template-columns: repeat(2, auto);
      margin-left: 4%;
    }

    .button-header {
        border: none;
        background-color: rgba(0,0,0,0.1);
        color: #0597d7;
        font-size: 18px;
        margin-left: -15px;
        font-style: italic;
        font-weight: bolder;
        padding: 8px;
      }


  .conteudo {
        height: auto;
        width: auto;
        grid-template-columns: 1fr;
        margin-top: 5%;
        text-align: left;
        margin-right: 0;
        margin-left: 0;
      }

      .img-content {
        height: 140px;
        width: auto;
        border-radius: 10%;
        grid-column: 1 / -1;
        opacity: 0.8;
      }

      .txt-content {
        color: #0597d7;
        grid-column: 1/-1;
        margin-left: 0%;
      }

      .indice {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: #0597d7;
        
      }
      .ico-indice {
        grid-column: 1 / 2;
        width: 64px;
        height: 64px;
      }

    .txt-indice {
      grid-column: 2/-1;
      margin-top: 5%;
    }
    
      .conteudo-long {
        height: auto;
        width: auto;
        grid-template-columns: 1fr;
        margin-top: 1%;
        text-align: left;
        align-content: left;
        margin-left: 2%;
        margin-right: 7px;
        margin-bottom: 20px;
      }
      .img-content-long {
        height: 195px;
        width: auto;
        border-radius: 30%;
        grid-column: 1;
        grid-row: 1;
        opacity: 0.8;
        margin-top: 5%;
        display: block;
      }
      .title-post {
        color: #0597d7;
        font-size: 22px;
        grid-column: 1;
        grid-row: 2;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 3%;
      }

      .long-txt {
        width: auto;
        grid-template-columns: 1 / 2;
        grid-row: 3;
        margin-top: 5%;
        margin-left: 4%;
        
      }
      .txt-lista {
        margin-top: 5%;
        color: #0597d7;
      }
      .ico-post{
        height: 35px;
        width: 35px;
        display: inline;
        margin-left: 25px;
      }
      p{
        font-size: 17px;
      }
      h3{
        font-size: 17px;
      }
.footer{
    width: auto;
    display: grid;
}

.links-rodape {
    color: #0597d7;
    font-style: italic;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 1%;
  }
  .menu-rodape {
    display: inline;
    margin-left: 0%;
    margin-top: 4%;
    grid-row: 2;
  }
  .button-footer {
    border: none;
    background-color: rgba(0,0,0,0.1);
    color: #0597d7;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    display: block;
  }
 
  .direitos {
    color: #0597d7;
    font-style: italic;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 2%;
    margin-bottom: 5px;
  }