body {
    background: linear-gradient(90deg, rgba(5,10,33,1) 0%,rgba(10,34,72) 100%);
}

.content {
    text-align: center;
}
#log-form {
    height: 500px;
    width: 450px;
    position: absolute;
    top: 10%;
    left: 34%;
    background-color: #0478aa1e;
    border-radius: 10%;
    box-shadow: 0 0 25px -1px rgb(10, 153, 219);
}

#log-form > ::placeholder {
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

#forget {
    margin-left: -40%;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

/* estilizando input */
.log {
    padding-left: 4em;
    height: 35px;
    width: 300px;
    /* Estilizando a borda do input*/
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /*  */
    margin-bottom: 5%;

    /* Retirando as bordas do input quando clicado */
    box-shadow: 0 0 0 0;
    outline: 0;

    color: white;
    font-size: 20px;
}
#login {
    background: url("./icones/user.png") no-repeat left / 25px;
    background-color: rgba(0, 255, 255, 0.137);
    background-position: 6%;
}
#senha{
    background: url("./icones/password.png") no-repeat left / 25px;
    background-color: rgba(0, 255, 255, 0.137);
    background-position: 6%;
}
#div-logo {
    margin-top: 10%;
    margin-bottom: 8%;
}
#logotipo {
    width: 280px;
    height: 160px;
    border: solid 3px rgba(10, 153, 219, 0.041);
    border-radius: 30%;
}
#btn-log {
    background-color: rgb(10, 153, 219);
    height: 40px;
    width: 150px;
    margin-right: -40%;
    margin-top: -1%;

    border-radius: 30px;
    border: none;

    color: rgba(10,34,72);
    font-size: 18px;
    font-weight: bolder;
}

#btn-log:hover, #btn-log:focus {
    color: #fff;
    outline: 0;
  }
  
  #btn-log {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  #btn-log:hover {
    box-shadow: 0 0 2px 2px rgb(10, 153, 219);
  }

  a:link{
    text-decoration: none;
    }

  a:hover{
    text-decoration: underline;
  }
  a {
    font-style: italic;
  }

  #remember {
    margin-top: 6.5%;
    margin-right: -47%;
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
  }

  #logotipo {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

  #logotipo:hover{
    box-shadow: 0 0 25px 5px rgb(10, 153, 219);
  }

  #logotipo:hover, #logotipo:focus {
    color: #fff;
    outline: 0;
  }
  